/**{font-family: 'Roboto', sans-serif !important;}*/
*{font-family: 'Open Sans', sans-serif !important;}
body, html {
	height: 100%;
}
#testSpacer{
	height: 1000px;
}


#mainBackground{
	/*background: url(../images/mainImage.jpg) no-repeat 50% 50% fixed;*/
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
	display: table;
	overflow: hidden;
	background-position: 70% 50%;

	margin: 0px !important;
}
#welcomeRotate{
	position: absolute;
	z-index: 2;
	top: 400px;
	left: 50px;
	font-size: 30px;
}
.txt-rotate
{
	color: #c0392b;
}
#learnButton{
	border-color: #c0392b;
	background-color: transparent;
	color: #c0392b;
}
#downloadB{
	border-color: #c0392b;
	background-color: #c0392b;
	color: #fff;
}

#intro{
	padding: 40px;
	text-align: center;
}



/********************************** WORK EXPERIENCE **********************************/



#exp, #work{
	float: left;
	margin: 10px 0 0 10px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700;
}
.workExpRow .productImg{
	float: left;
}
.workExpRow{
	text-align: left;
	border-bottom: 1px solid #e8e8e8;
}

.workExSub{
	color: #2980b9;
	font-weight: 500;
	margin: 22px 0 5px 0;
	font-size: 18px;
}
.workExDate{
	opacity: 0.5
}
.featured{
	width: 150px;
	margin-right: 10px;
}

